.container {
    background-color: rgba(var(--global-primary-color-rgb), .1);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.remove {
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    background: rgba(var(--global-primary-color-rgb), .1);
}