.container {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}
.item {
    margin-bottom: 30px;
    font-family: monospace;
}
.title {
    font-size: 13px;
}