.container {
    display: flex;
    font-size: 13px;
    cursor: pointer;
}
.input {
    height: 20px;
    width: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}