.container {
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-left: -10px;
}
.container div div:last-child {
    color: white;
    font-family: futura-light;
    font-size: 14px
}
.item {
    width: 36px;
}