.container {
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-left: -5px;
}
.container div div:last-child {
    font-family: futura-light;
    font-size: 14px
}
.item {
    width: 36px;
    height: 45px;
    border-radius: 3px;
    margin: 6px 0 0 5px;
}