.container {
    background-color: white;
    cursor: pointer;
}
.content {
    color: #ccc;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container, .content {
    border-radius: 5px;
    width: 100%;
    font-size: 13px;
}
.rounded {
    border-radius: 30px;
}
.check {
    height: 20px;
    filter: hue-rotate(var(--value, 360deg)); --value:129deg;
}
.circle {
    height: 20px;
    width: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.check, .circle {
    margin-left: 10px;
}