.home-page__users-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.home-header {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #780b39;
    background: var(--global-dark-background);
    position: relative;
    display: flex;
    align-items: center;
    height: 400px;
}
.home-header h1 {
    font-size: 50px;
}
.home-header__text {
    font-family: 'open-sans-light';
    font-size: 18px;
    font-weight: bold;
    color: #dcdcdc;
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -80px;
    padding: 10px;
}
.home-header video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-header__shadow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    background: rgb(223,38,116);
    background: linear-gradient(180deg, rgba(223, 38, 116, .8) 0%, rgba(223, 38, 116, .4) 100%, rgba(0, 0, 0, 1) 100%);
}

@media (max-width: 992px) {
    .home-page__users-list {
        justify-content: center;
    }
    .home-header h1 {
        font-size: 32px;
    }
    .home-header {
        height: 180px;
    }
    .home-header video {
        width: 100%;
        height: 100%;
    }
    .home-header__text {
        margin-top: unset;
    }
}

@media (max-width: 576px) {
    .home-header h1 {
        font-size: 26px;
    }
    .home-header__text--bottom {
        font-size: 15px;
    }
}