.home-page__users-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.home__header {
    color: white;
    text-align: center;
    padding: 50px 0;
    text-shadow: 2px 2px 4px #000000;
    background: var(--global-dark-background);
}
.home__header h1 {
    font-size: 50px;
}
.home__header__desc {
    font-family: 'open-sans-light';
    font-size: 18px;
    font-weight: bold;
    color: #dcdcdc;
}

@media (max-width: 992px) {
    .home-page__users-list {
        justify-content: center;
    }
    .home__header {
        padding: 20px 10px;
    }
    .home__header h1 {
        font-size: 32px;
    }
}