.item {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.itemIcon {
    background: rgba(var(--global-primary-color-rgb), .2);
    border-radius: 45px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.itemIcon img {
    width: 16px;
}
.badge {
    font-size: 12px!important;
    position: absolute;
    top: -7px;
    right: -7px;
    border-radius: 10px;
    background-color: #e41e3f;
    padding: 5px;
    min-width: 21px;
    color: white!important;
}
.item span {
    color: var(--global-primary-color);
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.registerLink {
    border: 2px solid var(--global-primary-color);
    border-radius: 30px;
    padding: 10px 18px;
}
.registerLink:hover {
    background-color: rgba(var(--global-primary-color-rgb), 0.2);
}
.appName {
    font-size: 23px;
    font-weight: 500;
    color: var(--global-primary-color);
    text-decoration: none;
    margin-left: .5rem;
    display: none;
    font-family: 'futura-extra-bold-oblique';
}
.logo {
    height: 40px;
}
.shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(var(--global-primary-color-rgb), 0.04);
    border-bottom: 1px solid;
    border-color: rgba(var(--global-primary-color-rgb), 0.06);
    z-index: -1;
}


@media (min-width: 992px) {
    .appName {
        display: block;
    }
}

.dropdown {
    right: 15px;
    background: var(--global-accent-color);
    border: 2px solid #3d3d3d;
    color: var(--global-primary-color);
}
.dropdownItem {
    width: 100%;
    cursor: pointer;
}
.dropdownItem a {
    color: var(--global-primary-color);
    padding: 15px 12px;
    height: 100%;
    display: flex;
    align-items: center;
}
.dropdownItem a span {
    font-size: 16px;
    line-height: 16px;
}
.dropdownItem img {
    height: 20px;
    margin-right: 5px;
}
.divider {
    border-top: 2px solid #3d3d3d;
}