.footer {
    color: white;
    width: 100%;
    background-color: rgba(var(--global-primary-color-rgb), 0.06);
    padding: 30px 15px;
    border-top: 1px solid rgba(var(--global-primary-color-rgb), 0.1);
}
.links {
    display: flex;
    margin-top: 20px;
}
.links a {
    color: white;
}
.copyright {
    color: #bbb;
    margin-top: 20px;
}
.newsletter {
    max-width: 360px;
}

@media screen and (max-width: 992px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .links {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        max-width: 360px;
        width: 100%;
    }
    .column {
        display: flex;
        flex-direction: column;
    }
    .column a {
        margin: 10px 0;
    }
    .copyright {
        font-size: 14px;
    }
    .newsletter {
        margin: auto;
    }
}

@media screen and (min-width: 992px) {
    .footer {
        flex-direction: row;
        padding: 15px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .column {
        display: flex;
    }
    .column a {
        margin-right: 16px;
    }
}