.container {
    padding: 5px;
    width: 33.33%;
}
.content {
    padding: 10px 8px;
    border-radius: 10px;
    font-size: 13px;
    color: var(--global-primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    box-shadow: 0 0 5px -2px #ccc;
    text-align: center;
    background-color: rgba(var(--global-primary-color-rgb), 0.1);
    cursor: pointer;
}
.title {
    font-size: '14px'
}
.price {
    font-weight: bold;
    font-size: 13px
}

@media (min-width: 993px) {
    .container {
        width: 200px;
    }
}